<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">홈</a>
    <br>
    <h1>글을 수정해주세요</h1>2
    
    <div th:text="'작성자'+'&nbsp'+${#authentication.name}"></div>
        <div th:text="'글번호'+'&nbsp'+${boardvo.getBid}"></div>
        <form id="form">
            제목<input type="text" name="title" placeholder="30글자 이하로 입력해주세요" id="title" th:value="${boardvo.getTitle}">
                <br>
                    <div id="errortitle"></div>
                        <br>
                            글내용<div id="errorcontent"></div>
                            <br> 
                            <div contentEditable="true" style="width: 20%;" id='contentEditable' >
                                [[${boardvo.getContent}]]
                                    <div th:each="url:${imagearray}">
                                        <img th:id="${url.getId()}" class="image" th:src="${url.getImageurl()}">
                                            </div>
                            </div>
                                <input type="hidden" name="bid" th:value="${boardvo.getBid}">
                                        <br>
                                            <input multiple="multiple"  type="file" name="file"> 
                                                </form>
                                                    <input type="button" onclick="doUpdateArticle()"  value="완료">                          
                                                <script src="../static/writearticle.js"></script>    

</body>
</html>